# Godot 4+ specific ignores
.godot/
/android/

.mono/
.godot/
export_presets.cfg
*.import
*.translation
*.gltf
*.glb
*.obj
*.fbx
*.dae
*.blend
*.scn.tscn
*.res
*.gdns
*.gdns.tscn
*.tscn.local
*.tscn.remap
*.import.local
*.import.remap
*.escn
*.escn.remap
*.tres
*.tres.remap
*.gdc
*.gdc.remap
*.gdnlib
*.gdnlib.remap
*.gdscript
*.gdscript.remap
*.gdshader
*.gdshader.remap
*.shader
*.shader.remap
*.shader.glsl
*.shader.glsl.remap
*.gd
*.gd.remap
*.shader
*.shader.remap
*.shader.gdshader
*.shader.gdshader.remap
*.shader.glsl
*.shader.glsl.remap
*.gdignore

# Charts folder
Charts/
Charts/*
!Charts/.gitkeep

# Output folder
Output/
Output/*
Charts